.fullScreen {
  background-color: #9f5d6d;
  width: 100%;
  height: 100%;
}

.dimScreen {
  position: absolute;
  max-width: 300px;
  max-height: 50%;
  top: 50%;
  left: 50%;
  overflow: visible;
}

.center {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  margin-top: -50%;
  margin-left: -50%;
}